body{
    width: 50%;
    margin: 0 auto;
    --theme : #2c3e50;
}

/* header section  */

header{
    text-align: center;
}
header h1{
    font-size: 100px;
    color: var(--theme);
    font-weight: 200;
}


/* todoform  */

.input{
    font-size: 20px;
    color: var(--theme);
    width: 100%;
    border: none;
    outline: none;    
    /* click pr boarder a jata h esliye outline none */
    border-bottom: 2px solid var(--theme);
    
}


/* todo.jsx css */

.task{
    background-color: #34495e ;
    margin: 5px;
    padding: 15px;
    list-style: none; 
    border-radius: 5px;
    cursor: pointer;
   

}

.task span {
    color: #ffff;
}
.icon{
    float: right;
    margin-right: 20px;
}

article{
    display: grid;
}

/* todo.jsx css */

.edit-todo{
    width: 80%;
    font-size: 16px;
    color: #ffffff;
    border: none;
    outline: none;    
    background: transparent;
    border-bottom: 1px solid #ccc;

}


/* tabs.jsx */

.button{
    padding: 10px;
    margin: 0px 10px;
    border: none;
    background-color:#ccc;
    color:#34495e;
    font-size:14px ;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;

}

/* tabs.js  */

.selected.button{
    color:#ccc;
    background-color:#34495e;
}

.button.clear{
    float: right;
    background-color: red;
    color: white;
}